<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<% @meta_keywords ||= nil -%>
<% @meta_description ||= nil -%>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <% unless @meta_keywords.blank? -%>
      <meta name="keywords" content="<%= @meta_keywords %>" />
    <% end -%>
    <% unless @meta_description.blank? -%>
      <meta name="description" content="<%= @meta_description %>" />
    <% end -%>
    <title><%= @page_title.blank? ? "Mysite" : "#{@page_title} : Mysite" %></title>
    <%= stylesheet_link_tag 'global', 'sem', :media => 'all' %>
  </head>
  <body>
    <div id="shadow">
      <div id="container">

        <div id="main" class="content">
          <%= yield %>
        </div>
        <table>
          This text is in the wrong place, but you have to apply a
          schema to get it marked as invalid.
          <%= yield %>
        </table>

      </div> <%# container %>
    </div> <%# shadow %>
  </body>
  <% if live_site? %>
    <%= render(:partial => 'shared/google_analytics') %>
  <% end %>
</html>
